<div class="page-header">
  <h1>Лиды</h1>
  <h4>Ваш Ref id - <%= current_user.refid %></h4>
</div>
<table class="table table-striped">
  <thead>
    <tr>
      <th>ID</th>
      <th><%= sort_link(@q, :sub_id, 'Sub id') %></th>
      <th>Имя</th>
      <th>Фамилия</th>
      <th><%= sort_link(@q, :page, 'Страница') %></th>
      <th><%= sort_link(@q, :source, 'Источник трафика') %></th>
      <th><%= sort_link(@q, :medium, 'Вид трафика') %></th>
      <th><%= sort_link(@q, :campaign, 'Название кампании') %></th>
      <th><%= sort_link(@q, :content, 'Объявление') %></th>
      <th><%= sort_link(@q, :term, 'Ключевое слово') %></th>
      <th><%= sort_link(@q, :state, 'Статус') %></th>
      <th><%= sort_link(@q, :created_at, 'Дата') %></th>
    </tr>
  </thead>
  <tbody>
    <% @leads.each do |lead| %>
      <tr>
        <td><%= link_to lead.bitrix_id, lead %></td>
        <td><%= lead.sub_id %></td>
        <td><%= lead.first_name %></td>
        <td><%= lead.last_name %></td>
        <td><%= lead.page %></td>
        <td><%= lead.source %></td>
        <td><%= lead.medium %></td>
        <td><%= lead.campaign %></td>
        <td><%= lead.content %></td>
        <td><%= lead.term %></td>
        <td><%= lead.state %></td>
        <td><%= lead.created_at.strftime('%m/%d/%y') %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<%= page_entries_info @leads %><br>
<%= paginate @leads %>